{% extends "base.html" %}

{% load crispy_forms_tags %}
 
{% block title %}Login{% endblock title %} 

{% block body_content %}
    <div
      class="container mt-5 p-5 bg-white shadow"
      style="width: 40%; border-radius: 10px"
    >
      <h1 class="text-center">Login Form</h1>
      <form action="" class="mt-" method="post" novalidate>
        {% csrf_token %} {{form | crispy}}
        <div class="d-grid mt-4">
          <button class="btn btn-purple py-2 shadow-sm">Login</button>
        </div>
      </form>
      <div class="mt-3 text-center">
        <span>Didn't have an account?</span>
        <a href="{% url 'user-signup' %}">Signup</a>
      </div>
    </div>
{% endblock body_content %}
