{% extends "base.html" %}

{% load crispy_forms_tags %}
 
{% block title %}Update Password{% endblock title %}

{% block body_content %}
    {% include "navbar.html" %}
    <div
      class="container mt-5 p-5 bg-white shadow"
      style="width: 40%; border-radius: 10px"
    >
      <h1 class="text-center">Update Password</h1>
      <form action="" class="mt-5" method="post" novalidate>
        {% csrf_token %} {{form | crispy}}
        <div class="d-grid mt-4">
          <button class="btn btn-purple py-2 shadow-sm">Update Password</button>
        </div>
      </form>
    </div>
{% endblock body_content %}